@mixin strong-small-text() {
  font-size: 10px;
  font-weight: bold;
  span {
    font-weight: bolder;
  }
}

@mixin big-heading($accent) {
  text-align: center;
  font-size: 35px;
  padding-top: 25px;
  color: $accent;
}

@mixin medium-heading($accent) {
  text-align: center;
  font-size: 30px;
  padding-top: 55px;
  color: $accent;
}

@mixin small-link($accent) {
  &:hover {
    text-decoration: none;
  }
  color: $accent;
  font-weight: bolder;
  font-size: 10px;
}

@mixin button($accent, $fill) {
  font-size: 9px;
  font-weight: bold;
  width: 150px;
  margin: 10px;
  border-radius: 20px;
  padding: 10px;

  @if $fill == 'fill' {
    color: #fff;
    background-color: $accent;
  } @else if $fill == 'transparent' {
    color: $accent;
    border-width: 1.5px;
    border-color: $accent;
    background-color: transparent !important;
  }

  border-color: $accent;

  background-color: $accent;
}

@mixin offer-price($accent) {
  .offer-price {
    color: $accent;
    font-size: 12px;
    float: left;
    margin: 2px 0 2px 15px;
    padding: 5px;
    font-weight: bold;
  }

  .offer-price-discount {
    color: $accent;
    font-size: 12px;
    float: left;
    margin: 2px 0 2px 0px;
    padding: 5px 0;
    font-weight: bold;    
  }

  .offer-price-tag {
    color: $accent;
    font-size: 12px;
    float: left;
    margin: 2px 0 2px 2px;
    padding: 5px 0;
    font-weight: bold;    
  }

  .offer-price-striketrough {
    position: relative;
  }

  .offer-price-striketrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1.5px solid;
    border-color: #af1a00;

    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);

  }
}

@mixin chat-box($accent) {
  color: $accent;
  display: inline-block;
  background-color: #EBEBEB;
  padding: 8px 55px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  font-size: 12px;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  right: 96px;
}

@mixin over-tag() {
  .over-tag {
    position: absolute;
    display: flex;
    align-items: center;
    right: -20px;
    background-color: #D91D2B;
    top: 35px;
    color: white;
    padding: 3px 20px;
    border-radius: 15px;
    display: inline-block;
    font-size: 11px;
    transition: background-color 400ms;
      span {
        padding: 0 0 4px 5px;
        display: inline-block;
      }
  }

  .over-tag {
    &.accent-default:hover {
      background-color: rgba($accent-default, 1);
    }

    &.accent-alternative:hover {
      background-color: rgba($accent-alternative, 1);
    }
  }
}