@import 
  '~bootstrap/scss/functions',
  '~bootstrap/scss/variables',
  '~bootstrap/scss/mixins',
  '~bootstrap/scss/print',
  '~bootstrap/scss/reboot',
  '~bootstrap/scss/type',
  './variables',
  './mixins';

* {
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

hr {
  border-color: white;
  margin: 1px;
}

body.background-default {
  background: $background_default;
}

body.background-alternative {
  background: $background_alternative;
}

.medium-heading.accent-default {
  @include medium-heading($accent-default);
}

.medium-heading.accent-alternative {
  @include medium-heading($accent-alternative);
}

.button.button-fill.accent-default {
  @include button($accent_default, 'fill');
}
.button.button-transparent.accent-default {
  @include button($accent_default, 'transparent');
}
.button.button-fill.accent-alternative {
  @include button($accent_alternative, 'fill');
}
.button.button-transparent.accent-alternative {
  @include button($accent_alternative, 'transparent');
}

.offers-list-compact .card.card-offer {
  background-color: transparent !important;
}