@import '~sass/variables';
@import '~sass/mixins';

.offer-details {

  @include over-tag()

  .img-fluid {
    margin: 0 auto;
    display: block;
  }

  .top-heading-mobile {
    display: none;
    padding: 0;
    font-size: 21px;
    margin-bottom: 44px;
    margin-top: 11px;
  }

  .over-tag {
    right: 0px;
  }

  background-color: #EBEBEB;
  max-width: 920px;
  margin: 0 auto;
  padding: 25px 25px 20px 25px;

  textarea.ng-invalid.ng-touched,
  select.ng-invalid.ng-touched{
    border: 1px solid red;
  }

  hr {
    margin: 30px 0;
  }

  .price-break-point {
    display: none;
  }

  .small-bold-text {
    font-size: 10px;
    font-weight: 800;
    padding-top: 5px;
  }

  .offer-description {
    .medium-heading {
      text-align: left;
      padding-top: 5px;
      font-size: 28px;
    }
  }

  .quantity-select {
    width: 83px;
    height: 33px;
    display: inline;
    border: none;
    margin-left: 15px;
  }

  textarea {
    height: 100px;
    border: none;
    resize: none
  }


  .button-fill {
    margin-left: 0;
  }

  .button-transparent {
    float: right;
    width: 80px;
    margin-right: 0;
  }

  .offer-price-container {
    .offer-price {
      &.offer-price-striketrough,
      &.offer-price{
        margin-left: 0 !important;
      }
    }
    &.accent-default {
      float: right;
      @include offer-price($accent-default);
    }
    &.accent-alternative {
      float: right;
      @include offer-price($accent-alternative);
    }
  }


  .offer-price-container.accent-alternative {
    float: right;
    @include offer-price($accent-alternative);
  }

  @media(max-width: 546px) {
    .price-break-point {
      display: block;
    }
    #quantity-select {
      float: right;
    }
    .offer-price-container.accent-default {
      width: 100%;
      text-align: right;
      display: inline-block;
      span {
        display: block;
      }
      .price-inner-container {
        display: inline-block;
      }
      .offer-price,
      .offer-price-tag,
      .offer-price-discount {
        font-size: 16px;
        margin-top: 17px
      }
    }

    .top-heading-mobile {
      display: block;
    }
    .medium-heading {
      padding-top: 17px !important;
      font-size: 18px !important;
    }
    .small-bold-text {
      margin-bottom: 28px;
    }
    textarea {
      margin-bottom: 40px;
      height: 187px;
    }
    .btn.button {
      display: block;
      margin: 10px auto;
      float: none;
      width: 204px;
      height: 42px;
      font-size: 13px;
    }
  }
}