<div class="container-fluid offer-details">
  <h2 [class]="'medium-heading top-heading-mobile ' + theme">Our special offers for you</h2>
  <div class="row">
    <div class="col-md-5">
      <div [class]="'over-tag ' + theme" *ngIf="offer.discount > 0 && !offer.most_pop">
        <span>
          -{{ offer.discount * 100 }} %
        </span>
      </div>
      <div [class]="'over-tag ' + theme" *ngIf="offer.most_pop && offer.discount === 0">
        <i class="fa fa-star" aria-hidden="true"></i>
        <span>
          most pop
        </span>
      </div>
      <div [class]="'over-tag ' + theme" *ngIf="offer.most_pop && offer.discount > 0">
        <i class="fa fa-star" aria-hidden="true"></i>
        <span>
          most pop -{{ offer.discount * 100 }} %
        </span>
      </div>
      <img class="img-fluid" [src]="offer.imgPath">
    </div>
    <div class="col-md-7 offer-description">
      <h2 [class]="'medium-heading ' + theme">
        {{ offer.name }}
      </h2>
      <p class="small-bold-text">
        {{ offer.views_weekly }} persons viewed this offer last week
      </p>
      <p>{{ offer.description }}</p>
      <hr>
      <form 
        (ngSubmit)="onSubmit(order_form)"
        #order_form_1
        #order_form="ngForm"
        >
        <div class="form-group">
          <label id="quantity-select-label" for="quantity-select"><strong>Choode quantity:</strong></label> 
          <select
            ngModel
            required
            name="quantity-select"
            class=" quantity-select"
            id="quantity-select"
            >
            <option value="0" disabled></option>
            <option *ngFor="let i of quantities" [value]='i'>
              {{ i }}
            </option>
          </select>
          <br class="price-break-point">
          <div [class]="'offer-price-container ' + theme" *ngIf="offer.getDiscounterPrice() > 0">
            <div class="price-inner-container">
              <span class="offer-price-tag">Price:</span>
              <span [ngClass]="{'offer-price': true, 'offer-price-striketrough': offer.discount > 0}">
                {{ offer.price }}
              </span>
              <span class="offer-price-discount" *ngIf="offer.discount > 0">
                {{ offer.getDiscounterPrice() }}
              </span>
              <span class="offer-price-tag">EUR</span>             
            </div> 
          </div>
          <div *ngIf="offer.getDiscounterPrice() <= 0" [class]="'offer-price-container ' + theme">
            <div class="price-inner-container">
              <span class="offer-price">
                FREE
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="input-remarks"><strong>Remarks:</strong></label>
          <textarea
            ngModel
            required
            name="input-remarks"
            class='form-control'
            id='input-remarks'
            ></textarea>
        </div>
        <button [class]="'btn button button-fill ' + theme">
          PLACE AN ORDER
        </button>
        <button [class]="'btn button button-transparent ' + theme" [routerLink]="theme_name_for_url === unidentified ? ['/'] : ['/', theme_name_for_url]">
          BACK
        </button>

      </form>
      <span class="text-success">{{ form_success }}</span>
      <span class="text-danger">{{ form_error }}&nbsp;</span>
    </div>
  </div>
</div>