@import '~sass/variables';
@import '~sass/mixins';

.container-fluid.main-hero {
  background-image: url(../../../assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center; 

  .main-hero-inner {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    max-width: 850px;
  }

  .narrow-center-text {
    max-width: 550px;
    margin: 0 auto;
    padding-top: 30px;
  }

  .strong-text {
    @include strong-small-text();
  }

  a.small-link {
    margin: 30px 0;
    display: block;
  }
  a.small-link {
    &.accent-default{
      @include small-link($accent_default);
    }
    &.accent-alternative {
      @include small-link($accent-alternative);
    }
  } 

  h1 {
    &.accent-default{
      @include big-heading($accent_default);
    }
    &.accent-alternative{
      @include big-heading($accent_alternative);
    }
  }

  @media(max-width: 546px) {
    .narrow-center-text {
      font-size: 13px;    
    }
    h1 {
      font-size: 23px !important;
    }
    .btn.button {
      width: 206px;
      padding: 1px;
      font-size: 12px;
      i {
        font-size: 40px;
      }
      span {
        margin-left: 4px;
        line-height: 45px;
        vertical-align: top;
      }
    }
  }
}

@media(max-width: 546px) {
  .container-fluid.main-hero {
    padding: 0;    
  }
}