@import '~sass/variables';
@import '~sass/mixins';

.medium-heading {
  margin-bottom: 35px;
  &medium-heading:nth-child(1) {
    margin-bottom: 65px;
  }
}

.arrow-totop {
  display: none;
}

.button {
  &.button-transparent {
    margin: 0 auto;
    display: block;
    margin-bottom: 35px;
  }
}

.chat-box.accent-default {
  @include chat-box($accent-default)
}

.chat-box.accent-alternative {
  @include chat-box($accent-alternative)
}

@media(max-width: 546px) {
  .top-heading {
    display: none;
  }
  .heading-bottom {
    font-size: 20px;
  }
  .bottom-button {
    display: none !important;
  }
  .chat-box {
    display: none !important;
  }
  .arrow-totop {

    &.accent-default {
      color: $accent-default;
    }
    &.accent-alternative {
      color: $accent-alternative;
    }
    font-size: 138px;
    text-align: right;
    overflow: hidden;
    height: 140px;
    margin-top: -76px;
    display: block;
    span {
      right: 0;
    }
  }
}