@import '~sass/variables';
@import '~sass/mixins';

.card.card-offer {

  @include offer-price(black);
  @include over-tag();

  vertical-align: top;
  height: 300px;
  display: inline-block !important;
  width: 13rem;
  margin: 15px;
  text-align: left;
  background-color: #E1E1E1;
  border: none;

  .offer-title {
    font-weight: bold;
    font-size: 13px;
    padding: 9px 17px;
    margin: 0;
  }

  .card-block {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .small-link {
    &.accent-default {
      float: right;
      @include small-link($accent-default);
      padding: 10px;      
    }
    &.accent-alternative {
      float: right;
      @include small-link($accent-alternative);
      padding: 10px;
    }
  }

  .img-container {
    position: relative;
  }

  .mouseover-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 400ms;
  }

  .mouseover-cover {
    &.accent-default{
      background-color: rgba($accent-default, 0.5);
    }
    &.accent-alternative {
      background-color: rgba($accent-alternative, 0.5);
    }
    &:hover {
      opacity: 1;
    }
    &.accent-default:hover + div {
      background-color: $accent-default;
    }
    &.accent-alternative:hover + div {
      background-color: $accent-alternative;
    }
  }


  .mouseover-cover-inner-text {
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 35px;
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-weight: bolder;

    p {
      padding: 0;
      margin: -5px;
    }
  }
}

@media(max-width: 546px) {
  .container-fluid.offers-list {
    padding: 0;
  }
  .over-tag {
    font-size: 7px !important;
    height: 19px !important;
    padding: 4px 10px !important;
    right: -7px !important;
    top: 12px !important;
  }
  .card.card-offer {
    background-color: transparent;
    .offer-title {
      color: #969696;
      font-size: 12px;
      padding: 0;
    }
    margin: 3px;
    width: 8rem;
    height: 200px;
    .small-link {
      display: none;
    }
    .offer-price {
      margin-left: 0;
    }
  }
  .card.card-offer.compact-offer {
    width: 15rem;
    height: 355px;
    .offer-title {
      color: black;
      margin-bottom: 9px;
    }
    .offer-price {
      padding-left: 0;
    }
    .small-link {
      display: inline-block;;
    }
  }
}

.card.card-offer:hover .mouseover-cover{
  opacity: 1;
}